[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "copBasic"]
	path = copBasic
	url = https://github.com/wasquith/copbasic
[submodule "lmomco"]
	path = lmomco
	url = https://github.com/wasquith/lmomco
[submodule "weirs"]
	path = weirs
	url = https://github.com/cran/weirs
